.todo {
    margin: 0.5rem;
    /*background: white;*/
    color: white;
    font-size: 3rem;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }

.display {
    display: none;

}



.todoBtns-flex {
  float: right;
}
  
  
  
  .trash-btn,
  .complete-btn {
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    transition: all 0.3s ease;
    justify-content: right;
  }

  .trash-btn {
    color: rgb(207, 204, 23);
    background: rgba(255, 255, 255, 0);
  }

  .trash-btn:hover {
    transform: scale(1.3);
  }

  .complete-btn {
    color: rgb(207, 204, 23);
    background: rgba(255, 255, 255, 0);
  }

  .complete-btn:hover {
    transform: scale(1.3);
  }
  
  
  
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    text-decoration-color: rgb(207, 204, 23);
    opacity: 0.6;

  }

