.todo-container {
    display: flex;
    justify-content: center;
    align-items: top;
    overflow: auto;
    height: 35rem;
  }
  
  .todo-list {
    width: 90%;
    list-style: none;
    font-family: 'Waiting for the Sunrise', cursive;
  }