* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

body {
  /*background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);*/
  background-image: url(./images/blackboard.webp);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*font-family: "Poppins", sans-serif;*/
  /*font-family: 'Homemade Apple', cursive;*/  
  /*font-family: 'Chilanka', cursive;*/
  /*font-family: 'Covered By Your Grace', cursive;*/
  /*font-family: 'Shadows Into Light Two', cursive;*/
  font-family: 'Waiting for the Sunrise', cursive;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 70%;
  margin: auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin:  auto;
  padding: 0;
}

